---
BasedOnStyle: WebKit
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Allman
EmptyLineAfterAccessModifier: Always
IndentPPDirectives: BeforeHash
SpaceBeforeCpp11BracedList: false
TabWidth: 4
UseTab: ForIndentation
